@media only screen and (max-width:1199px) {
    .form-container{
        width: 48%;
    }
    
}
@media only screen and (max-width:768px) {
    .form-container{
        width: 70%;
    }
    
}
@media only screen and (max-width:579px) {
    .form-container{
        width: 97%;
    }
    
}
@media only screen and (max-width:374px) {
    .form-container{
        width: 100%;
        padding: 60px 26px 49px;

    }
    .form-container h2{
        font-size: 26px;
        line-height: 27px;
    }
    
}